/*GLOBAL DOCUMENT SETTINGS*/
html{
    font-size: 16px;            //GLOBAL 1REM SETUP
    font-family: 'Raleway', sans-serif;
}


/*GLOBAL SECTIONS SETTINGS*/
/*Header settings*/
.head {
    background-color: map-get($SectionsBackgroundColors,header);
    min-height: 2.5rem;
    color: map-get($HeaderSectionColors,textMain);
    font-size: map-get($HeaderFontSizes,mainFont);
}


/*Section 1 settings*/
.sect1 {
    min-height: 31.25rem;
    background-color: map-get($SectionsBackgroundColors,section1);
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 46%, rgba(247,247,247,1) 62%, rgba(230,230,230,1) 94%, rgba(230,230,230,1) 100%);
}


/*Section 2 settings*/
.sect2 {
  min-height: 22rem;
  background-color: map-get($SectionsBackgroundColors,section2);
}


/*Section 3 settings*/
.sect3 {
  min-height: 45.375rem;
  background-color: map-get($SectionsBackgroundColors,section3);
}


/*Section 4 settings*/
.sect4 {
  min-height: 33.125rem;
  background-color: map-get($SectionsBackgroundColors,section4);
}


/*Footer settings*/
.footer {
    background-color: map-get($SectionsBackgroundColors,footer);
    min-height: 9.375rem;
    font-size: map-get($FooterFontSizes,mainFont);
    margin-top:1.875rem;
}
