
/*TEXT COPYRIGHT*/
.footer__text{
    color:map-get($FooterColors,textColor);
    display:inline-block;
    padding: 0.75rem 0;
}


/*LOGO*/
.footer__logo {
    display: inline-block;
    padding: 0.75rem 0;
    color:map-get($FooterColors,textColor);
    margin-left: 1.875rem;
    font-weight: bold;
}
.footer__bold {
    color:map-get($FooterColors,textBold);
    font-weight: bolder;
}


/*LINKS*/
.footer__nav {
    font-size: 0;
}
.footer__nav__ul {
    list-style: none;
    margin-right:0.625rem;
    .footer__nav__li {
        display: inline-block;
        padding: 0.75rem 0.125rem 0.75rem 0;
        .footer__nav__a {
            display: inline-block;
            width: 2.1875rem;
            height: 2.1875rem;
            .footer__hideText{
                display:none;
            }
        }
        .footer__link1{
            @extend %backgroundLinksStyle;
            background-image: url(../images/flickr.png);
        }
        .footer__link2{
            @extend %backgroundLinksStyle;
            background-image: url(../images/vimeo.png);
        }
        .footer__link3{
            @extend %backgroundLinksStyle;
            background-image: url(../images/pinterest.png);
        }
        .footer__link4{
            @extend %backgroundLinksStyle;
            background-image: url(../images/twitter.png);
        }
    }
}

/*End Footer settings*/
