/*Grid 12 columns mixed sized with and without gutters*/
.container{
    width:100%;
    max-width:1054px;
    margin: 0 auto;
    .row:before, .row:after {
        content: '';
        clear:both;
        display:block;
    }
    .row{

        /*Mobile settings*/
        /*col-smx-1  gutters = 0px;*/
        @include colConstructor(smx,1,$columnSize,0,0);
        /*col-smx-10  gutters = 0px;*/
        @include colConstructor(smx,10,$columnSize,0,0);
        /*col-smx-12  gutters = 0px;*/
        @include colConstructor(smx,12,$columnSize,0,0);

        /*Tablet settings*/
        @media screen and (min-width: 704px){
            /*col-mdx-2  gutters = 0px;*/
            @include colConstructor(mdx,2,$columnSize,0,0);
            /*col-mdx-4  gutters = 0px;*/
            @include colConstructor(mdx,4,$columnSize,0,0);
            /*col-mdx-6  gutters = 0px;*/
            @include colConstructor(mdx,6,$columnSize,0,0);
            /*col-mdlp-6  gutters left,right = 15px;*/
            @include colConstructor(mdlp,6,$columnSize,15px,15px);
            /*col-mdlp-12  gutters left,right = 15px;*/
            @include colConstructor(mdlp,12,$columnSize,15px,15px);
            /*col-mdl-12  gutters left = 30px;*/
            @include colConstructor(mdl,12,$columnSize,0,30px);
        }

        /*Laptop and higher settings*/
        @media screen and (min-width: 900px){
            /*col-lgx-4  gutters = 0px;*/
            @include colConstructor(lgx,4,$columnSize,0,0);
            /*col-lglp-4  gutters left,right = 15px;*/
            @include colConstructor(lglp,4,$columnSize,15px,15px);
            /*col-lgl-4  gutters left = 30px;*/
            @include colConstructor(lgl,4,$columnSize,0,30px);
            /*col-lgp-4  gutters right = 30px;*/
            @include colConstructor(lgp,4,$columnSize,30px,0);
            /*col-lgp-8  gutters right = 30px;*/
            @include colConstructor(lgp,8,$columnSize,30px,0);
        }
    }
}
