/*HEADER ELEMENTS SETTINGS--------------------
--------------------------------------------*/

/*LOGO*/
.head__logo {
    display: inline-block;
    padding: 0.75rem 0;
}
.head__bold {
    color:map-get($HeaderSectionColors,textSecond);
    font-weight: bold;
}


/*BURGER BUTTON*/
.burger {
    display:inline-block;
    }
.burgerContent{
    width: 2.1875rem;
    height: 0.3125rem;
    background-color: map-get($HeaderSectionColors,contentMain);
    margin: 0.375rem;
    border-radius:0.3125rem;
}


/*MAIN NAVIGATION*/
.head__nav {
    font-size: 0;
}
.head__nav__ul {
    list-style: none;
    .head__nav__li {
        display: inline-block;
        padding: 0.75rem 0 0.75rem 3.125rem;
        position: relative;
        .head__nav__a {
            &:link,
            &:visited,
            &:hover,
            &:active {
                @extend %linksDecoration;
                font-weight: bold;
            }
            &:hover{
                color:map-get($HeaderSectionColors,hoverNav);
            }
        }
    }
}


/*SUBNAVIGATION*/
.head__subnav {
    position: absolute;
    background-color: map-get($HeaderSectionColors,backgroundSubMob);
    height: 6.25rem;
    display: none; //hidden by default
    top: 130%;
    z-index: 1;
    left:0;
    width:100vw;
    @include GridTablet{    //RWD
        z-index: auto;
        left: 30%;
        width: 7.5rem;
        background-color: map-get($HeaderSectionColors,backgroundSubnav);
    }
    &::after {
        content: '';
        position: absolute;
        top: -24%;
        left:9%;
        border-top: 1rem solid rgba(255,255,255, 0);
        border-left: 1rem solid rgba(255,255,255, 0);
        border-bottom: 1rem solid map-get($HeaderSectionColors,backgroundSubMob);
        border-right: 1rem solid rgba(255,255,255, 0);
        @include GridTablet{   //RWD
            left:33%;
            border-bottom: 1rem solid black;
        }
    }
    .head__subnav__li {
        padding: 0.5rem 0 0.5rem 1rem;
        .head__subnav__a:link,
        .head__subnav__a:visited,
        .head__subnav__a:hover,
        .head__subnav__a:active {
            @extend %linksDecoration;
        }
        .head__subnav__a:hover{
            color:map-get($HeaderSectionColors,hoverNav);
        }
    }
}
/*End Header settings*/
