/*SECTION 4 ELEMENTS SETTINGS----------
-------------------------------------*/
/*GLOBAL CLASSES*/
/*SECTION HEADER SETTINGS*/
.sect4__header{
    @extend %h2Setup;
}
.sect4__header__hr {
    @extend %hrSetup;
}


/*FORM TEXT INPUTS*/
.sect4__input__container {
    margin-top:1.5625rem;
    .sect4__input {
        width:100%;
        max-width: 39.375rem;
        font-family: 'Raleway', sans-serif;
        color:map-get($Section4Colors,inputText);
        border:0.0625rem solid map-get($Section4Colors,inputBorder);
        font-size: map-get($Section4FontsSetup,formInputFont);
        padding: 1.125rem 0;
        text-indent: 0.625rem;
        &::placeholder {
            color: map-get($Section4Colors,placeholderColor);
            font-size: map-get($Section4FontsSetup,formInputFont);
            text-indent: 0.625rem;
        }
    }
    .text {
        resize: none;
    }
}


/*FORM IMAGE*/
.sect4__form__img{
    display:none;
    @include GridLaptop{
        display:inline-block;
        @include animate(showIMG,2.5s,1,ease-out);  //animate image
        margin:0 1.25rem;
    }
}


/*CHECKBOX*/
.sect4__checkbox__container{
    margin-top: 2.5rem;
    &:after, &:before{
        clear:both;
        display:block;
    }
    .sect4__acceptImg{
        display:inline-block;
        float:left;
        width: 3.125rem;
        height: 3.125rem;
        margin-right: 0.625rem;
        border:0.0625rem solid map-get($Section4Colors,checkboxBorder);
        cursor:pointer;
        .sect4__checkbox{
            position: relative;
            @extend %checkbox;
            &:checked:after, &:not(:checked):before{
                content:'';
                position: absolute;
                @extend %checkbox;
                top:0;
                left:0;
            }
            &:checked:after {
                background-image: url(../images/form_ok.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    .sect4__checkbox__label{
        font-size: 1.25rem;
        color:map-get($Section4Colors,checkboxLabelText);
        text-align: left;
    }
}


/*FORM BUTTON*/
.sect4__submit {
    @extend %Button;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.9375rem 2.5rem;
    border-radius: 0.625rem;
    margin:0.9375rem 0 0.9375rem 0.9375rem;
    @include GridTablet{
        padding: 0.9375rem 5rem;
        margin:1.375rem 0 0.625rem 0;
        font-size: 1.875rem;
    }
    @include GridDesktop{
        padding: 0.9375rem 6.875rem;
        margin:2.1875rem 0 0.625rem 0;
        font-size: 1.875rem;
    }
}
