
.sect3__head{
    height: 156px;
    width:100%;
    top:21px;
    left:0;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
}

.sect3__head hr {
    border: 4px solid #24ba9f;
    max-width: 142px;
    margin-left:10px;
}

.sect3__head span {
    display: block;
    margin:0;
}




//PRICE BOX
.priceBox__containter{
    height:560px;
    width:100%;
    @extend %flexColCenter;
    justify-content: flex-end;
    padding:0;
    margin:0;

}
.priceBox {
    //width:330px;
    width:100%;
    height:500px;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #24ba9f;
    color:white;
}

.priceBox::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top:-6.5%;
    border-radius: 100%;
    background-color: #24ba9f;
}

.priceBox::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top:-3.75%;
    border-radius: 100%;
    background-color: white;
}



.priceBox .t0 {
    font-size: 23px;
    font-weight: 400;
    margin-top:30px;
}

.priceBox__circleIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    margin-top: 30px;
    margin-bottom: 0;
    border-radius: 100%;
    color: #24ba9f;
    background-color: white;
}
.priceBox__circleIn .num {
    font-size: 44px;
    display: block;
    font-weight: bold;
}

.priceBox__circleIn .num sup {
    font-size: 16px;
    vertical-align: text-top;
}
.priceBox__circleIn .text {
    display: block;
    font-weight: bold;
}

.priceBox .t1 {
    margin-top:30px;
}

.priceBox .t1, .t2, .t3 {
    color:#a7a7a7;
    display:block;
    background-color: white;
    width:98%;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    font-weight: 400;
}

.priceBox .t2 {
    border-color: white;
    background-color: #f1f1f1;
}

.pricebtn {
    display:inline-block;
    padding: 10px 30px;
    margin-top:55px;
    border-radius: 10px;
    color: #24ba9f;
    background-color: white;
    font-size: 16px;
}
