
/*SECTION 1 ELEMENTS SETTINGS----------
-------------------------------------*/
/*GLOBAL CLASSES*/
.slide__hidden {
    display: none;
}
.slide__visible {
    display: flex;
}


/*SLIDER BUTTONS SETTINGS*/
.sect1__btn {  //left,right button
    display:inline-block;
    width:100%;
    min-height: 31.25rem;
    background: transparent;
    text-align: left;
    font-size: map-get($sliderButtonsFontSize, mobile);
    @include mobileMedium{
        font-size: map-get($sliderButtonsFontSize, desktop);
    }
    color:map-get($Section1Colors,textSecond);
    border: none;
    outline: none;
    padding: 0;
    &:hover{
        color: map-get($Section1Colors,hoverArrow);
    }
}
.sect1__btn2 {  //right button
    text-align: right;
}


/*SLIDER LIST SETTINGS*/
.sect1__list{
    list-style: none;
    .sect1__list__item{
        &.slide__hidden{  //List items hidden default
            display: none;
        }
        .sect1__slide{
            @extend %flexColCenter;
            .sect1__slide__col-1, .sect1__slide__col-2{  //Image and text cols
                @extend %flexColCenter;
                @extend %sliderContainerSize;
            }
            @include tablet{
                flex-direction: row;
                .sect1__slide__col-1, .sect1__slide__col-2{
                    width:40%;
                    height: 30.875rem;
                }
                .sect1__slide__col-2{   //Text container size
                    width: 60%;
                }
            }
        }
    }
}


/*IMAGE IN SLIDER*/
.sect1__img {
    display: inline-block;
    object-fit: none;
    height: 84%;
    @include animate(showIMG,2.5s,1,ease-out);  //animate image
    @include mobileMedium{ //RWD
        margin-top: 3.125rem;
    }
    @include laptop{    //RWD
        object-fit: cover;
    }
}


.red__chair {
    object-fit: contain;
}


/*TEXT AREA IN SLIDER*/
/*HEADER*/
.sect1__h1{
    font-size: map-get($sliderContentFontSize,mobileHeader);
    @include animate(showContent,1s,1,steps(60));  //Animation for text header
    @include tablet{    //RWD
        font-size: map-get($sliderContentFontSize,tabletHeader);
    }
    @include GridLaptop{    //RWD
        font-size: map-get($sliderContentFontSize,laptopHeader);
        margin-top:0.625rem;
    }
    display: inline-block;
    text-align: center;
    .sect1__strong{
        color:map-get($Section1Colors,textSecond);
    }
}
/*PARAGRAPH*/
.sect1__p1 {
    font-size:map-get($sliderContentFontSize,mobileParagraph);
    @include animate(showHidden,2s,1,ease-in-out);  //Text animation
    line-height: 21px;

    @include tablet{
        font-size: map-get($sliderContentFontSize,tabletParagraph);
        line-height: 21px;
    }
    @include GridLaptop{
        font-size: map-get($sliderContentFontSize,laptopParagraph);
        line-height: 23px;
    }
    text-align: center;
    margin-top: 1.125rem;
    padding:0 2.5rem 0 2.5rem;
    display: inline-block;
    color: map-get($Section1Colors,textParagraph);
}

/*BUTTON IN SLIDE*/
.sect1__btn3 {
    @extend %Button;  //standard settings and hover,active action
    text-align: center;
    text-decoration: none;
    line-height: 21px;
    font-size: map-get($sliderContentFontSize,mobileButton3);
    border-radius: 0.5625rem;
    margin:1.25rem 0 1.25rem 0;
    padding: 0.875rem 3rem 0.5625rem 3rem;
    @include tablet{
        font-size: map-get($sliderContentFontSize,tabletButton3);
        line-height: 1.5rem;
        padding: 0.875rem 1.875rem 0.5625rem 3rem;
    }
    @include GridLaptop {
        font-size: map-get($sliderContentFontSize,laptopButton3);
        line-height: 1.8125rem;
        margin:1.25rem 0 1.25rem 0;
        padding: 0.875rem 1.875rem 0.5625rem 3rem;
    }
    @include animate(showHidden,2s,1,ease-in-out);
}
