/*Header settings*/
.sect__calc__green_bell {
  background-color: map-get($SectionCalcColors,headerBellColor);
  width: 12.5rem;
  height: 0.375rem;
  display: inline-block;
  margin: 0.3125rem 0 0.3125rem 0;
}
.sect__calc__smallHeader {
  color: map-get($SectionCalcColors,smallHeaderText);
  font-size: map-get($sectionCalcFontSize,smallHeader);
  margin-top:1.875rem;
}


/*FORM SETTINGS*/
.sect__calc__form {
    margin-top:3.125rem;
    .sect__calc__dropDownList {
            border:0.0625rem solid map-get($SectionCalcColors,dropDownBorder);
            max-width: 22.5rem;
            height: 3.125rem;
            background-color: map-get($SectionCalcColors,dropdownBack);
            margin-top:1.375rem;
            padding: 0.5rem 0.75rem;
            position: relative;
        .sect__calc__listLabel {
            font-size: map-get($sectionCalcFontSize,listLabel);
            color: map-get($SectionCalcColors,listLabel);
            font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
        }
        .sect__calc__listArrow {
            width: 0;
            height: 0;
            border-left: 0.9375rem solid transparent;
            border-right: 0.9375rem solid transparent;
            border-top: 0.9375rem solid map-get($SectionCalcColors,arrowColor);
            display:block;
            position: absolute;
            right: 0.875rem;
            top: 1.25rem;
            cursor: pointer;
        }
        .sect__calc__listPanel {
            background-color: map-get($SectionCalcColors,listPanelBack);
            border: 0.0625rem solid map-get($SectionCalcColors,listPanelBorder);
            width: 18rem;
            padding-left: 0.9375rem;
            padding-bottom: 0.625rem;
            margin: 0;
            left: 0;
            top: 3rem;
            z-index: 2;
            list-style: none;
            position: absolute;
            display:none;
            >li{
                margin-top:0.625rem;
                cursor: pointer;
                color: map-get($SectionCalcColors,listItemTextColor);
            }
        }
    }
}


/*CHECKBOX*/
.sect__calc__checkbox__container{
    margin-top: 1.75rem;    //new
    &:after, &:before{
        clear:both;
        display:block;
    }
    .sect__calc__acceptImg{
        @extend %SpanSquare;
        .sect__calc__checkbox{
            @extend %Checkbox;
        }
    }
    .sect__calc__checkbox__label{
        padding: 0.5rem; //new
        font-size: map-get($sectionCalcFontSize,checkboxFont);   //new
        display:inline-block; //new
        @extend %Label;
    }
}


/*IMAGE*/
.sect__calc__image img{
    margin-top: 6.875rem;
    margin-left: 2.375rem;
    display: none;
    @include GridTablet{
        display:inline-block;
        @include animate(showIMG,2.5s,1,ease-out);  //animate image
    }
}


/*HEADER RIGHT on the top of summary panel*/
.sect__calc__headerRight{
    text-align: right;
}


/*SUMMARY PANEL*/
.sect__calc__summaryPanel {
    background-color: map-get($SectionCalcColors,summaryPanelBack);
    width:100%;
    height:11.25rem;
    padding:0.625rem;
    margin-top: 1.875rem;
    .sect__calc__panelLeft, .sect__calc__panelRight{
        .title {
            height: 1.875rem;
            margin:0.3125rem 0 0.625rem 0;
            color: map-get($SectionCalcColors,summaryPanelTitle);
            font-size: map-get($sectionCalcFontSize,summaryPanelTitle);
        }
        span{
            margin-top:0.625rem;
            font-size: map-get($sectionCalcFontSize,summaryPanelText);
            color: map-get($SectionCalcColors,summaryPanelLeftText);
            display: block;
        }
    }
    .sect__calc__panelLeft {
        @extend %summaryPanels;
        width:70%;
        min-width: 11.5625rem;
    }
    .sect__calc__panelRight {
        @extend %summaryPanels;
        width:20%;
        border-left:0.0625rem solid map-get($SectionCalcColors,borderBottomPanel);
        text-align: right;
        span {
            color: map-get($SectionCalcColors,summaryPanelRigthText);
        }
    }
}


/*TOTAL COST PANEL*/
.sect__calc__sumPanel{
    display:inline-block;
    width:100%;
    height:2.5rem;
    background-color: map-get($SectionCalcColors,backTotalCost);
    .sect__calc__sumLabel, .sect__calc__sum {
        display:inline-block;
        font-size: map-get($sectionCalcFontSize,totalCost);
    }
    .sect__calc__sumLabel{
        width: 50%;
        text-align:left;
        color: map-get($SectionCalcColors,totalCostText);
    }
    .sect__calc__sum {
        width: 40%;
        text-align: right;
        color: map-get($SectionCalcColors,totalCost);
    }
}


/*BUTTON SETTINGS*/
.sect__calc__button {
    @extend %Button;
    width: 12.5rem;
    padding: 0.625rem 1.875rem;
    font-size: map-get($sectionCalcFontSize,button);
    margin:0.9375rem 0 0.625rem 1.8125rem;
    text-decoration: none;
}
