/*Header settings*/
.green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}
.sect__calc__h3 {
  color: #575757;
  font-size: 18px;
  margin-top:30px;
}


/*FORM SETTINGS*/
.form {
    margin-top:50px;
    .drop_down_list {
            border:1px solid #8de0d2;
            max-width: 360px;
            height: 50px;
            background-color: white;
            margin-top:22px;
            padding: 8px 12px;
            position: relative;
        .list_label {
            font-size: 30px;
            color: #e2e2e2;
            font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
        }
        .list_arrow {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid #24baa0;
            display:block;
            position: absolute;
            right: 14px;
            top: 20px;
            cursor: pointer;
        }
        .list_panel {
            background-color: white;
            border: 1px solid #ccc;
            width: 288px;
            padding-left: 15px;
            padding-bottom: 10px;
            list-style: none;
            margin: 0;
            left: 0px;
            z-index: 2;
            position: absolute;
            top: 48px;
            display:none;
            >li{
                margin-top:10px;
                cursor: pointer;
                color: #585858;
            }
        }
    }
}


/*CHECKBOX*/
.sect__calc__checkbox__container{
    margin-top: 1.75rem;    //new
    &:after, &:before{
        clear:both;
        display:block;
    }
    .sect__calc__acceptImg{
        @extend %SpanSquare;
        .sect__calc__checkbox{
            @extend %Checkbox;
        }
    }
    .sect__calc__checkbox__label{
        padding: 0.5rem; //new
        font-size: 1.75rem;   //new
        display:inline-block; //new
        @extend %Label;
    }
}


/*IMAGE*/
.sect__calc__image img{
    margin-top: 6.875rem;
    margin-left: 2.375rem;
    display: none;
    @include GridTablet{
        display:inline-block;
        @include animate(showIMG,2.5s,1,ease-out);  //animate image
    }
}


/*HEADER RIGHT on the top of summary panel*/
.sect__calc__headerRight{
    text-align: right;
}


/*SUMMARY PANEL*/
.sect__calc__summaryPanel {
    background-color: map-get($SectionCalcColors,summaryPanelBack);
    width:100%;
    height:11.25rem;
    padding:0.625rem;
    margin-top: 1.875rem;
    .sect__calc__panelLeft, .sect__calc__panelRight{
        .title {
            height: 1.875rem;
            margin:0.3125rem 0 0.625rem 0;
            color: map-get($SectionCalcColors,summaryPanelTitle);
            font-size: map-get($sectionCalcFontSize,summaryPanelTitle);
        }
        span{
            margin-top:0.625rem;
            font-size: map-get($sectionCalcFontSize,summaryPanelText);
            color: map-get($SectionCalcColors,summaryPanelLeftText);
            display: block;
        }
    }
    .sect__calc__panelLeft {
        @extend %summaryPanels;
        width:70%;
        min-width: 11.5625rem;
    }
    .sect__calc__panelRight {
        @extend %summaryPanels;
        width:20%;
        border-left:0.0625rem solid map-get($SectionCalcColors,borderBottomPanel);
        text-align: right;
        span {
            color: map-get($SectionCalcColors,summaryPanelRigthText);
        }
    }
}


/*TOTAL COST PANEL*/
.sect__calc__sumPanel{
    display:inline-block;
    width:100%;
    height:2.5rem;
    background-color: map-get($SectionCalcColors,backTotalCost);
    .sect__calc__sumLabel, .sect__calc__sum {
        display:inline-block;
        font-size: map-get($sectionCalcFontSize,totalCost);
    }
    .sect__calc__sumLabel{
        width: 50%;
        text-align:left;
        color: map-get($SectionCalcColors,totalCostText);
    }
    .sect__calc__sum {
        width: 40%;
        text-align: right;
        color: map-get($SectionCalcColors,totalCost);
    }
}


/*BUTTON SETTINGS*/
.sect__calc__button {
    @extend %Button;
    width: 12.5rem;
    padding: 0.625rem 1.875rem;
    font-size: map-get($sectionCalcFontSize,button);
    margin:0.9375rem 0 0.625rem 1.8125rem;
    text-decoration: none;
}
