/*SECTION 2 ELEMENTS SETTINGS----------
-------------------------------------*/
/*GLOBALL SETTINGS*/
.box_hidden{
    display: none;
}


/*IMG BOX*/
.sect2__img__box{
    position: relative;
    .sect2__img {
        display: inline-block;
        @include animate(showIMG,2.5s,1,ease-out);  //animate image
        object-fit: fill;
        z-index: 1;
        min-height: 14.125rem;
        width:100%;
        margin-top: 1.875rem;
        cursor: pointer;
    }
    .sect2__img__head{
        bottom:1.3125rem;
        left:0;
        @extend %imgHeader;
    }
}


/*CONTENT BOX*/
.sect2__box{
    min-height: 14.125rem;
    border:1px solid map-get($Section2Colors,contentBoxBorder);
    margin-top:1.875rem;
    padding: 0 1.125rem 0 1.1875rem;
    position: relative;
    border: 0.0625rem solid map-get($Section2Colors,contentBoxBorderOpacity);
    .sect2__head{
        top:1.3125rem;
        left:0.625rem;
        @extend %imgHeader;
        span {
            margin-bottom: -0.9375rem;
        }
    }
    .sect2__box__content{
        margin-top:4.875rem;
        color: map-get($Section2Colors,contentFontColorOpacity);
        font-size: 0.875rem;
    }
}
