/*SECTION 3 ELEMENTS SETTINGS----------
-------------------------------------*/
/*GLOBAL CLASSES*/
/*SECTION HEADER SETTINGS*/
.sect3__header{
    @extend %h2Setup;
}

.sect3__header__hr {
    @extend %hrSetup;
}


/*PRICE BOX CONTAINER*/
.priceBox__containter{
    width:100%;
    height:570px;
    @extend %flexColCenter;
    justify-content: flex-end;
    padding:0;
    margin:0;
    .priceBox { //main box settings
        @extend %priceBoxContainer;
        &:before{
            @extend %smallCircleBig;
        }
        &:after{
            @extend %smallCircleSmall;
        }
    }
    .priceBoxFirstColor { //white green box
        background-color: $secondColor;
        border: 2px solid $secondColor;
        &:before{
            background-color: $secondColor;
            border: 2px solid $secondColor;
        }
        &:after{
            background-color: $firstColor;
            border: 2px solid $firstColor;
        }
    }
    .priceBoxSecondColor { //white grey box
        background-color: $fiveColor;
        border: 2px solid $fourColor;
        &:before{
            background-color: $fiveColor;
            border: 2px solid $fourColor;
        }
        &:after{
            background-color: $fourColor;
            border: 2px solid $fourColor;
        }
    }
}


/*PRICE BOX CONTENT SETTINGS*/
.priceBox {
    .t0 {
        font-size: $boxContentFont;
        font-weight: 400;
        margin-top:30px;
    }
    .t0FirstColor{
        color:$firstColor;
    }
    .t0SecondColor{
        color:$secondColor;
    }
    .t1 {
        margin-top:30px;
    }
    .t1, .t2, .t3 {
        color:$sixColor;
        display:block;
        width:99.8%;
        font-size: $boxContentFont;
        padding: 8px;
        text-align: center;
        font-weight: 400;
    }
    .colorBac1 {
        background-color: map-get($boxContentBacColors,one);
    }
    .colorBac2 {
        background-color: map-get($boxContentBacColors,two);
    }
    .colorBac3 {
        background-color: map-get($boxContentBacColors,three);
    }
}


/*BIG CIRCLE INSIDE CONTAINER*/
.priceBox__circleIn{
    @extend %flexColCenter;
    width: 131px;
    height: 131px;
    margin:30px 0 0 0;
    border-radius: 100%;
    color: $secondColor;
    background-color: $firstColor;
    border: 2px solid $firstColor;
    .num {
        font-size: $circleInFont;
        sup {
            font-size: $circleInSupFont;
            vertical-align: text-top;
        }
    }
    .text,.num {
        display: block;
        font-weight: bold;
    }
}
//Colors settings for big circle inside container
.priceBox__circleInFirstColor{  //grey-white
    border-color: $fourColor;
    color:$fourColor;
}
.priceBox__circleInSecondColor{ //green-white
    border-color: $secondColor;
    color:$secondColor;
}


/*BUTTON SETTINGS*/
.pricebtn {
    display:inline-block;
    padding: 8px 33px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: $boxButtonFont;
}
.pricebtnColor1 { //white button
    color: $secondColor;
    background-color:$firstColor;
    &:hover{
        color: $firstColor;
        background-color: $secondColor;
    }
}
.pricebtnColor2 { //green button
    color: $firstColor;
    background-color: $secondColor;
    &:hover{
        color: $secondColor;
        background-color:$firstColor;
    }
}
.pricebtnPos1{ //button position
    margin-top: 109px;
}
.pricebtnPos2{
    margin-top: 64px;
}
.pricebtnPos3{
    margin-top: 21px;
}
