/*SECTION 2 ELEMENTS SETTINGS----------
-------------------------------------*/
/*GLOBALL SETTINGS*/
.box_hidden{
    display: none;
}


/*IMG BOX*/
.sect2__img__box{
    position: relative;
    .sect2__img {
        display: inline-block;
        @include animate(showIMG,2.5s,1,ease-out);  //animate image
        object-fit: fill;
        z-index: 1;
        min-height: 14.125rem;
        width:100%;
        margin-top: 1.875rem;
    }
    .sect2__img__head{
        position: absolute;
        bottom:1.3125rem;
        left:0;
        background-color: rgba(255, 255, 255, 0.4);
        width: 100%;
        hr {
            border: 0.25rem solid map-get($Section2Colors,underlineHeader);
            max-width: 8.875rem;
            margin-left:0.625rem;
        }
        span {
            display: block;
            margin: 0.75rem 0.0625rem 0.9375rem 0,875rem;
        }
    }
}



/*CONTENT BOX*/   //tutaj skonczylem refakturyzacje
.sect2__box{
    min-height: 226px;
    border:1px solid grey;
    margin-top:30px;
    padding: 0 42px 3px 20px;
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);
    .sect2__head{
        position: absolute;
        top:21px;
        left:10px;
        background-color: rgba(255, 255, 255, 0.4);
        width: 100%;
        hr {
            border: 4px solid #24ba9f;
            max-width: 142px;
            margin-left:10px;
        }

        span {
            display: block;
            margin: 12px 1px -15px 9px;
        }
    }
    .sect2__box__content{
        margin-top:78px;
        color: rgba(0,0,0,0.5);
        font-size: 14px;
    }
}
