//SECTION1 SLIDER ANIMATIONS
//SHOW IMG from small to big and from invisible to visible
@keyframes showIMG
{
    0% {
        height:0%;
        opacity:0;
    }
    100% {
        height:84%;
        opacity:1;
    }
}


//SHOW CONTENT - from hidden to visible with some height mix - for slider text
@keyframes showContent
{
    0% {height:40%;
        opacity:0;
    }
    100% {height:9%;
        opacity:1;
    }
}

//SHOW HIDDEN for slider button
@keyframes showHidden
{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
