//MAIN SITE SECTIONS BACKGROUND COLORS
$SectionsBackgroundColors:(
    header: black,
    section1:lightblue,
    section2: white,
    section3: #f1f1f1,
    section4: white,
    sectionCalc: #f9f9f9,
    footer: white
);


//GLOBAL TEXT AND BACKGROUNDS ELEMENTS COLORS -- when color is not in table for section
$firstColor: white;
$secondColor: #24ba9f; //global green
$thirdColor: grey;    //global grey for p
$fourColor: #c2c2c2;  //color for section 3 box container borderColor and form placeholders
$fiveColor: #f9f9f9; //color for section 3 box container backgroundColor
$sixColor:#a7a7a7 ; //color for section 3 box content text
$sevenColor: black; //placeholders font color section 4 Form



//BUTTONS GLOBAL COLORS
$buttonsColors:(
    background1:#24ba9f,
    background2:white,
    text1:white,
    text2:#24ba9f,
    buttonHoverText:white,           //text on hover
    buttonHoverBack:rgba(36,186,159,0.5), //background on hover
    buttonShadowColor:#888888
);


//CHECKBOX GLOBAL COLORS
$checkboxColors:(
    checkboxBorder:#24ba9f,
    checkboxBackg:white,
    checkboxLabelText:#c2c2c2
);


//HEADER SPECIFIC SECTION COLORS
$HeaderSectionColors:(
    textMain:white,    //main text color
    textSecond:#24ba9f, //second text color
    contentMain:white, //burger background color
    mainNav:white,     //main navigation text color
    hoverNav:#c2c2c2,  //main navigation text on hover color
    backgroundSubnav:black,  //background color subnavigation
    backgroundSubMob:#24ba9f //background color subnavigation for mobiles
);


//SECTION1 SPECIFIC SECTION COLORS
$Section1Colors:(
    textMain:white,    //main text color
    textSecond:#24ba9f, //second text color
    hoverArrow:#c2c2c2,  //main slider buttons on hover color
    textParagraph: grey //text p in slider
);


//SECTION2 SPECIFIC SECTION COLORS
$Section2Colors:(
    backgroundImgHeader: rgba(255, 255, 255, 0.4),
    underlineImgHeader:#24ba9f,
    contentBoxBorder: grey,
    contentBoxBorderOpacity: rgba(0,0,0,0.2),
    contentFontColorOpacity: rgba(0,0,0,0.5)
);


//SECTION3 SPECIFIC SECTION COLORS
$Section3Colors:(
    backgroundColor1:white,
    backgroundColor2:#24ba9f,
    backgroundColor3:#c2c2c2,
    backgroundColor4:#f9f9f9,
    contentColor1:#f1f1f1,
    contentColor2:#e4e4e4,
    contentColor3:white,
    contentColor4:#a7a7a7,
    contentColor5:#24ba9f,
    contentColor6:#c2c2c2,
    contentColor7:grey
);


//SECTION4 SPECIFIC SECTION COLORS
$Section4Colors:(
    inputText: black,
    inputBorder:#24ba9f,
    placeholderColor: #c2c2c2,
);


//SECTION CALCULATOR SPECIFIC SECTION COLORS
$SectionCalcColors:(
    totalCost:#24baa0,
    totalCostText:#5b5a5a,
    backTotalCost:white,
    borderBottomPanel:#e7e7e7,
    summaryPanelRigthText:#24baa0,
    summaryPanelLeftText:#5b5a5a,
    summaryPanelTitle:#24baa0,
    summaryPanelBack:white,
    dropDownBorder:#24ba9f,
    dropdownBack:white,
    listLabel:#e2e2e2,
    arrowColor:#24baa0,
    listPanelBack:white,
    listPanelBorder:#ccc,
    listItemTextColor:#585858,
    smallHeaderText:#575757,
    headerBellColor:#24ba9f
);


//FOOTER SPECIFIC SECTION COLORS
$FooterColors:(
    textColor:#c2c2c2,
    textBold:#b3b3b3
);
