//----------------------------------------
//RWD GLOBAL MIXINS FOR GRID
@mixin GridTablet{  //704px
    @media screen and (min-width: #{map-get($GridBreakpoints,tablet)}){
        @content;
    }
}

@mixin GridLaptop{  //900px
    @media screen and (min-width: #{map-get($GridBreakpoints,laptop)}){
        @content;
    }
}


//----------------------------------------
//MIXINS FOR SLIDER
//Media query for medium mobiles 600px
@mixin mobileMedium{
    @media screen and (min-width: #{map-get($RWDbreakpoints,MediumMobile)}){
        @content;
    }
}

//Media query for tablets 800px
@mixin tablet{
    @media screen and (min-width: #{map-get($RWDbreakpoints,Tablet)}){
        @content;
    }
}

//Media query for laptops 966px
@mixin laptop{
    @media screen and (min-width: #{map-get($RWDbreakpoints,Laptop)}){
        @content;
    }
}


//-------------------------------------------
//GENERATOR SINGLE CUSTOMIZED COLUMNS FOR GRID
//$name - name part: smx,mdx,lgx,mdl,mdp,mdlp,lgp,lglp,lgl
//$cols - number of columns from grid
//$colSize - width of single column
//$right - gutter right (padding)
//$left - gutter left (padding)
@mixin colConstructor($name,$cols,$colSize,$right,$left){
    .col-#{$name}-#{$cols} {
        float:left;
        min-height: 0.0625rem;
        width: $colSize *$cols;
        padding: 0 $right 0 $left;
    }
}






//GLOBAL ANIMATION PREFIX MIXIN
@mixin animate($keyName,$duration,$repeatCount,$type){
    animation: $keyName $duration $repeatCount $type;
    -moz-animation: $keyName $duration $repeatCount $type;
    -webkit-animation: $keyName $duration $repeatCount $type;
}







//-----------------------------------------
//MIXINS FOR SECTION1
//Mixin RWD for arrow buttons





//-----------------------------------------
//MIXINS FOR SECTION3
//PRICEBOX
//Mixin for small circles in price container - unused
/*
@mixin smallCircle($size,$top,$color,$borderColor){
    content: '';
    position: absolute;
    border-radius: 100%;
    width: $size;
    height: $size;
    top:$top;
    background-color: $color;
    border: 1px solid $borderColor;
}

//Price box container mixin
@mixin priceBox($backgroundColor,$borderColor){
    width:100%;
    height:500px;
    position:relative;
    @extend %flexColCenter;
    justify-content: flex-start;
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
}
*/
