//---------------------------------------------------
//GLOBAL SETTINGS
//Flex container
%flexRowStart {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

%flexRowEnd {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

%flexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flexRowSpace {  //burger
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

%flexContent {
    display: flex;
    flex-direction: row;
    align-content: flex-start;

}



//--------------------------------------------------------
//HEADER SECTION
//Navigation
%linksDecoration{
    color: $firstColor;         //Navigation font color
    font-size: $navFontSize;    //Navigation font size
    text-decoration: none;
}



//---------------------------------------------------------
//SECTION 1
//Slider section
%sliderContainerSize {
    width:100%;
    min-height: 245px;
}



//----------------------------------------------------------
//SECTION 3,4
//Header settings
%hrSetup {
    border: 4px solid $secondColor;
    max-width: 320px;
    margin:5px 0 0 0;
}
%h2Setup{
    font-size: $section34HeaderFont;
    font-weight: 400;
    color:$thirdColor;
    margin:40px 0 0 0;
}

//Price box container settings
%priceBoxContainer{
    width:100%;
    //max-width:326px;  //dodałem maksymalna dopuszczalna szeorokosc 30.10.
    height:500px;
    position:relative;
    @extend %flexColCenter;
    justify-content: flex-start;
}
//Small circle settings
%smallCircleBig {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    top: -7.5%;
}
%smallCircleSmall {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    top:-4.25%;
}

//Price box content main header
%boxHeader{
    font-size: 23px;
    font-weight: 400;
    margin-top:30px;
}
