//---------------------------------------------------
//GLOBAL SETTINGS
//Flex container
%flexRowStart {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

%flexRowEnd {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

%flexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flexRowSpace {  //burger
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

%flexContent {
    display: flex;
    flex-direction: row;
    align-content: flex-start;

}

//--------------------
//BUTTONS GLOBAL SETTINGS - standard settings and hover,active action
%Button {
    display:inline-block;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 0.625rem;
    color: map-get($buttonsColors,text1);
    background-color: map-get($buttonsColors,background1);
    &:hover {
        background-color: map-get($buttonsColors,buttonHoverBack);
        color:map-get($buttonsColors,buttonHoverText);
        transition: 0.5s background-color;
    }
    &:active {
        box-shadow: 0.25rem 0.25rem 0.1875rem map-get($buttonsColors,buttonShadowColor);
    }
}


//-------------------
//CHECKBOX GLOBAL SETTINGS - standard settings for all checkbox
//Span container settings for input checkbox
%SpanSquare {
    display:inline-block;
    float:left;
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 0.625rem;
    border:0.0625rem solid map-get($Section4Colors,checkboxBorder);
    cursor:pointer;
}

//Input checkbox settings
%Checkbox {
    position: relative;
    @extend %checkbox;
    &:checked:after, &:not(:checked):before{
        content:'';
        position: absolute;
        @extend %checkbox;
        top:0;
        left:0;
    }
    &:checked:after {
        background-image: url(../images/form_ok.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

//Label checkbox settings
%Label{
    color:map-get($Section4Colors,checkboxLabelText);
    text-align: left;
}


//--------------------------------------------------------
//HEADER SECTION
//Navigation
%linksDecoration{
    color: map-get($HeaderSectionColors,mainNav); //Navigation font color
    font-size: map-get($HeaderFontSizes,mainFont);    //Navigation font size
    text-decoration: none;
}


//---------------------------------------------------------
//SECTION 1
//Slider section
%sliderContainerSize {
    width:100%;
    min-height: 15.3125rem;
}


//----------------------------------------------------------
//SECTION 2
//IMG and Conent Box header
%imgHeader{
    position: absolute;
    background-color: map-get($Section2Colors,backgroundImgHeader);
    width: 100%;
    hr {
        border: 0.25rem solid map-get($Section2Colors,underlineImgHeader);
        max-width: 8.875rem;
        margin-left:0.625rem;
    }
    span {
        display: block;
        margin: 0.75rem 0.0625rem 0.9375rem 0.875rem;
    }
}


//----------------------------------------------------------
//SECTION 3,4
//Header settings
%hrSetup {
    border: 0.25rem solid map-get($Section3Colors,backgroundColor2);
    max-width: 20rem;
    margin:0.3125rem 0 0 0;
}
%h2Setup{
    font-size: map-get($Section3FontSetup,headerFontSize);
    font-weight: 400;
    color:map-get($Section3Colors,contentColor7);
    margin:2.5rem 0 0 0;
}

//Price box container settings
%priceBoxContainer{
    width:100%;
    height:31.25rem;
    position:relative;
    @extend %flexColCenter;
    justify-content: flex-start;
}
//Small circle settings
%smallCircleBig {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 3.75rem;
    height: 3.75rem;
    top: -7.5%;
}
%smallCircleSmall {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 1.75rem;
    height: 1.75rem;
    top:-4.25%;
}

//Price box content main header
%boxHeader{
    font-size: 1.4375rem;
    font-weight: 400;
    margin-top:1.875rem;
}


//SECTION 4 FORM PLACEHOLDERS
//Checkbox size and background
%checkbox{
    background-color: map-get($Section4Colors,checkboxBackg);
    width:3rem;
    height: 3rem;
}


//SECTION CALCULATOR PLACEHOLDERS
//summary panels
%summaryPanels {
    display: inline-block;
    vertical-align: top;
    padding-bottom:0.625rem;
    border-bottom:0.0625rem solid map-get($SectionCalcColors,borderBottomPanel);
    height: 9.6875rem;
}


//FOOTER PLACEHOLDER
%backgroundLinksStyle{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
