//---------------------------------------------
//GRID SETTINGS
$columns: 12;                  //number of columns
$columnSize: 100%/$columns;    //size of single column


//RWD GLOBAL BREAKPOINTS FOR GRID
$GridBreakpoints:(
    tablet:704px,
    laptop:900px,
    desktop:1034px
);


//----------------------------------------------
//HEADER SPECIFIC FONT SETUP
$HeaderFontSizes:(
    mainFont:0.875rem
);


//----------------------------------------------
//SECTION1 SLIDER SPECIFIC SETUP
//MEDIA QUERY SLIDER SETTINGS
$RWDbreakpoints:(
    MediumMobile: 600px,
    Tablet: 800px,
    Laptop: 966px
);


//FONTS - SECTION1 SLIDER BUTTONS
$sliderButtonsFontSize: (
    desktop: 5rem,
    mobile: 2rem
);

//FONTS - SECTION1 SLIDER CONTENT
$sliderContentFontSize: (
    laptopHeader: 2.5rem,
    tabletHeader: 2.1875rem,
    mobileHeader: 1.875rem,
    laptopParagraph: 1rem,
    tabletParagraph: 0.875rem,
    mobileParagraph: 0.75rem,
    laptopButton3: 1.5rem,
    tabletButton3: 1.3125rem,
    mobileButton3: 1.125rem
);


//FONTS - SECTION 3 BOX
$Section3FontSetup:(
    headerFontSize:1.4375rem,
    boxContentFont:1.5rem,
    boxButtonFont:1rem,
    circleInFont: 2.75rem,
    circleInSupFont:0.9375rem
);


 //FONTS - SECTION 4 FORM
 $Section4FontsSetup:(
    formInputFont: 2rem,
    formLineHigh:2.5rem
 );


//SECTION CALCULATOR FONTS
$sectionCalcFontSize:(
    header:1rem
);


//FOOTER SPECIFIC FONT SETUP
$FooterFontSizes:(
    mainFont:1.125rem
);
