//---------------------------------------------
//GRID SETTINGS
$columns: 12;                  //number of columns
$columnSize: 100%/$columns;    //size of single column


//RWD GLOBAL BREAKPOINTS FOR GRID
$GridBreakpoints:(
    tablet:704px,
    laptop:900px,
    desktop:1034px
);


//----------------------------------------------
//HEADER SPECIFIC FONT SETUP
$HeaderFontSizes:(
    mainFont:0.875rem
);
//FONTS - HEADER
//$navFontSize: 0.875rem;
//$mainHeaderFont:0.875rem;
//$mainFooterFont: 18px;


//----------------------------------------------
//SECTION1 SLIDER SPECIFIC SETUP
//MEDIA QUERY SLIDER SETTINGS
$RWDbreakpoints:(
    MediumMobile: 600px,
    Tablet: 800px,
    Laptop: 966px
);


//FONTS - SECTION1 SLIDER BUTTONS
$sliderButtonsFontSize: (
    desktop: 5rem,
    mobile: 2rem
);

//FONTS - SECTION1 SLIDER CONTENT
$sliderContentFontSize: (
    laptopHeader: 40px,
    tabletHeader: 35px,
    mobileHeader: 30px,
    laptopParagraph: 16px,
    tabletParagraph: 14px,
    mobileParagraph: 12px,
    laptopButton3: 24px,
    tabletButton3: 21px,
    mobileButton3: 18px
);


//FONTS - SECTION 3,4 HEADER
$section34HeaderFont: 23px;


//FONTS - SECTION 3 BOX
$Section3FontSetup:(
    boxContentFont:24px,
    boxButtonFont:16px,
    circleInFont: 44px,
    circleInSupFont:15px
);


 //FONTS - SECTION 4 FORM
 $formInputFont: 32px; //text in placeholder
 $formLineHigh:40px;
 $Section4FontsSetup:(
    formInputFont: 32px,
    formLineHigh:40px
 );


//SECTION CALCULATOR FONTS
$sectionCalcFontSize:(
    header:16px
);


//FOOTER SPECIFIC FONT SETUP
$FooterFontSizes:(
    mainFont:1.125rem
);
